# **27 March 2025**

Arithmatic operations

In [ ]:
a = 10
b = 3
c = a/b
print(c)

3.3333333333333335

In [ ]:
a = 10
b = 3
c = int(a/b)
print(c)

3

In [ ]:
a = 10
b = 3
c = a//b    # floor division
print(c)

3

In [ ]:
a = 10
b = 3
c = a % b    # modulus
print(c)

1

In [ ]:
a = 10
b = 3
c = a * b
print(c)

30

In [ ]:
a = 10
b = 3
c = a ** b    # exponential
print(c)

1000

In [ ]:
a = 10
b = 3
c = a + b
print(c)

13

In [ ]:
a = 10
b = 3
a = a + b  # first calculate (a+b), then updates the value of a
print(a)

13

In [ ]:
a = 10
a = a + 2
print(a)

12

In [ ]:
a = 10
a += 2           # a = a + 2
print(a)

12

In [ ]:
a = 10
b = 3
a += b    # a = a + b
print(a)

13

In [ ]:
a = 10
a *= 2           # a = a * 2
print(a)

20

In [ ]:
print(x:=3)

3

In [ ]:
x

3

In [ ]:
print(x=3)

TypeError: 'x' is an invalid keyword argument for print()

In [ ]:
# print(x:=3)

x = 3
print(x)

3

# **if-elif-else**

In [ ]:
a = 1
b = 2
if b>a:
  print('b is greater than a')  # be careful about indent

b is greater than a

In [ ]:
a = 10
b = 2
if b>a:
  print('b is greater than a')
else:
  print('a is greater than b')

a is greater than b

In [ ]:
a = 10
b = 10
if b>a:
  print('b is greater than a')
elif a==b:
  print('a and b are equal')
else:
  print('a is greater than b')

a and b are equal

In [ ]:
a = 200
b = 2000
if b>a: print('b is greater than a')
elif a==b: print('a and b are equal')
else: print('a is greater than b')

b is greater than a

 *find maximum among 3 numbers*

In [ ]:
a = 10
b = 20
c = 3

if (a>b) and (a>c): print('a is max')
if (b>a) and (b>c): print('b is max')
if (c>a) and (c>b): print('c is max')

b is max

*nested if-else*

c is max

In [ ]:
a = 1
b = 2
if not a>b: print('b is greater than a')

b is greater than a

In [ ]:
a = 1
b = 2
if a!=b: print('b is not equal to a')

b is not equal to a

Home work: Calculate FD maturity amount.
Take required input

# **LOOP**

In [ ]:
i = 1        # initialization
while i<5:   # if this condition is true, then ony you enter in the loop
  print(i)
  i = i+1

1
2
3
4

In [ ]:
i = 1
while i<5:
  print(i) # infinite loop
i = i+1  # this line is not insde the loop

In [ ]:
i = 1
while i<5:
  print(i)
  i = i+1
  print('hi')

1
hi
2
hi
3
hi
4
hi

In [ ]:
i = 1
while i<5:
  print(i)
  i = i+1
print('hi')  # not in the loop

1
2
3
4
hi

In [ ]:
i = 1
while i<5:
  print(i)


  i = i+1

1
2
3
4

In [ ]:
i = 1
while i<5:
  print(i)
  i = i+1

1
2
3
4

In [ ]:
i = 1
while i<7:
  print(i)


  i = i+1

1
2
3
4
5
6

In [ ]:
i = 1
while i<7:
  print(i)
  if i == 3:  # if this condition is TRUE, then break out from the LOOP
    break
  i = i+1

1
2
3

In [ ]:
i = 1
while i<7:

  if i == 3:
    break
  print(i)
  i = i+1

1
2

In [ ]:
i = 1
while i<7:

  if i == 3:
    break

  i = i+1
  print(i)

2
3

In [ ]:
i = 0
while i<7:
  i = i+1
  if i == 3:
    continue
  print(i)

1
2
4
5
6
7

In [ ]:
i = 0
while i<7:
  i = i+1
  if i == 3:
    continue
  print(i)
  print('hi')

1
hi
2
hi
4
hi
5
hi
6
hi
7
hi

*   **Break:** break the entire loop
*   **Continue:** skip the remaining entire part for the current iteration

In [ ]:
i = 1
while i<6: # if TRUE, then enter to the loop
  print(i)
  i += 1
else: # after executing the loop, the above condition is false now
  print('i is not less than 6 anymore')

1
2
3
4
5
i is not less than 6 anymore

In [ ]:
for i in range(4):
  print(i)

0
1
2
3

In [ ]:
i = 0
while i<4:
  print(i)
  i=i+1

0
1
2
3

In [ ]:
i = -1
while i<3:
  print(i := i+1)

0
1
2
3

In [ ]:
for i in range(4):
  print(i+1)

1
2
3
4

# **Function**

In [ ]:
def fun():
  print('hi')

In [ ]:
for i in range(4):
  fun()

hi
hi
hi
hi

In [ ]:
def add(a,b):
  return a+b

In [ ]:
add(2,5)

7

H.W.: create a calculator by writing all posible arithmatic operations

In [ ]:
print(10>9)

True

In [ ]:
print(10>99)

False

In [ ]:
print(10 != 9)

True

In [ ]:
a = 10
b = 10
if a == b:
  print('hi')
else:
  print('hello')

hi

In [ ]:
a = 100
b = 10
if a > b:
  print('hi')
else:
  print('hello')

hi

In [ ]:
a = 100
b = 10
if a < b:
  print('hi')
else:
  print('hello')

hello

In [ ]:
a = 100
b = 10
if a >= b:
  print('hi')
else:
  print('hello')

hi

In [ ]:
a = 100
b = 10
if a <= b:
  print('hi')
else:
  print('hello')

hello

In [ ]:
a = 100
b = 10
if a != b:
  print('hi')
else:
  print('hello')

hi

In [ ]:
x = 1
x +=3 # x = x+3
print(x)

4

*   arithmatic operators: +, -, /, //, %, //,
*   assignment operators: =, +=, -=, /=, %=, *=
*   logical operators: and, or, not

In [ ]:
a = 10
b = 9
if a!=b or a>b:
  print('hi')
else:
  print('hello')

hi

In [ ]:
a = 10
b = 9
if a!=b and a>b:
  print('hi')
else:
  print('hello')

hi

In [ ]:
a = 10
b = 90
if a!=b and a>b:
  print('hi')
else:
  print('hello')

hello

# **29 March 2025**

# **LIST**

In [2]:
number = [10, 20, 35]

In [3]:
type(number)

list

In [4]:
number[0] # LIST index starts from 0

10

In [5]:
print(number[0], number[1], number[2])

10 20 35

In [6]:
string_list = ['chandra', 'nath', 'adak']

In [7]:
len(string_list)

3

In [8]:
for i in string_list:
  print(i)

chandra
nath
adak

In [9]:
i = 0
while i < len(string_list):
  print(string_list[i])
  i = i+1

chandra
nath
adak

In [10]:
string_list.append('india') #always at last

In [11]:
for i in string_list:
  print(i)

chandra
nath
adak
india

In [12]:
string_list.pop() # by default, removing last element

'india'

In [13]:
for i in string_list:
  print(i)

chandra
nath
adak

In [14]:
string_list.pop(1) # remove index-wise

'nath'

In [15]:
for i in string_list:
  print(i)

chandra
adak

In [16]:
string_list[1]

'adak'

In [17]:
#remove element-wise
string_list.remove('adak')

In [18]:
for i in string_list:
  print(i)

chandra

In [19]:
len(string_list)

1

In [20]:
string_list = ['chandra', 'adak', 'patna', 'india']
print(string_list)

['chandra', 'adak', 'patna', 'india']

In [21]:
string_list.reverse()

In [22]:
print(string_list)

['india', 'patna', 'adak', 'chandra']

In [23]:
string_list[0]

'india'

In [24]:
string_list.sort() #sorting in dictionary order
print(string_list)

['adak', 'chandra', 'india', 'patna']

In [25]:
string_list[0]

'adak'

In [26]:
string_list.append('india')
print(string_list)

['adak', 'chandra', 'india', 'patna', 'india']

In [27]:
string_list.count('india')  #frequency

2

In [28]:
new_string_list = string_list.copy()
print(new_string_list)

['adak', 'chandra', 'india', 'patna', 'india']

In [29]:
print(string_list)

['adak', 'chandra', 'india', 'patna', 'india']

In [30]:
string_list.clear() #remove all elements
print(string_list)

[]

In [31]:
string_list = new_string_list.copy()

In [32]:
print(string_list)

['adak', 'chandra', 'india', 'patna', 'india']

In [34]:
print(string_list.index('chandra')) # showing index of an element

1

In [35]:
print(string_list.index('india')) # showing index of an element's 1st occurrence

2

In [36]:
string_list.insert(2,'nath')
print(string_list)

['adak', 'chandra', 'nath', 'india', 'patna', 'india']

In [37]:
string_list.insert(6, 'last')
string_list.insert(0, 'first')
print(string_list)

['first', 'adak', 'chandra', 'nath', 'india', 'patna', 'india', 'last']

In [38]:
L = len(string_list)
string_list.insert(L, 'final')
print(string_list)

['first', 'adak', 'chandra', 'nath', 'india', 'patna', 'india', 'last', 'final']

In [39]:
string_list.insert(len(string_list), 'bihar')
print(string_list)

['first', 'adak', 'chandra', 'nath', 'india', 'patna', 'india', 'last', 'final', 'bihar']

In [40]:
string_list.append('bharat')
print(string_list)

['first', 'adak', 'chandra', 'nath', 'india', 'patna', 'india', 'last', 'final', 'bihar', 'bharat']

In [42]:
number1 = [100, 20, 35]

In [44]:
number1.sort()
print(number1)  #sorting in ascending order

[20, 35, 100]

In [45]:
number1.sort()
number1.reverse()
print(number1)     #sorting in descending order

[100, 35, 20]

***find an element in LIST***

In [46]:
print(new_string_list)

['adak', 'chandra', 'india', 'patna', 'india']

In [49]:
key = 'chandra'

In [50]:
for i in new_string_list:
  if i == key:
    print('found')

found

In [51]:
print(key in new_string_list)

True

In [52]:
if (key in new_string_list) == True:
  print('found')

found

In [53]:
if (key in new_string_list) == True:
  print('found')
else:
  print('not found')

found

In [54]:
key = 'Chandra'
print(key in new_string_list)

False

In [55]:
type(string_list)

list

# **LIST[ ] is ordered, changable, allows duplicate members**

In [56]:
person1 = ['chandra', 'adak', 'patna', 35]
print(type(person1))

<class 'list'>

In [57]:
profession1 = ['AP', 'IITP']

In [58]:
person2 = ['soumi', 'chattopadhyay', 'indore', 34]
profession2 = ['AP', 'IITI']

In [59]:
person1.extend(profession1)
print(person1)

['chandra', 'adak', 'patna', 35, 'AP', 'IITP']

In [60]:
print(profession1)

['AP', 'IITP']

In [61]:
person1[2]

'patna'

In [62]:
del person1[2]
print(person1)

['chandra', 'adak', 35, 'AP', 'IITP']

In [63]:
print(person1[0:4])

['chandra', 'adak', 35, 'AP']

In [64]:
print(person1[-1])

IITP

In [65]:
person1[-1] = 'CSE'
print(person1)
# earlier last element was 'IITP', that has been changed to 'CSE'

['chandra', 'adak', 35, 'AP', 'CSE']

# **TUPLE () is *ordered*, *allows* *duplicate* members, *unchangable* (we can't add/ remove items after the tuple has been created)**

In [66]:
fruit = ('apple', 'banana', 'grapes')
print(fruit)

('apple', 'banana', 'grapes')

In [67]:
type(fruit)

tuple

In [68]:
fruit1 = ('apple', 'banana', 'grapes', 'grapes')

In [71]:
print(fruit1[0:3])

('apple', 'banana', 'grapes')

In [70]:
print(fruit1[-1])

grapes

In [72]:
fruit1[-1] = 'kiwi'  # we can't change tuple element

TypeError: 'tuple' object does not support item assignment

list is changable, tupe is not

tuple --> list --> perform changes in list --> convert the list to tuple

In [73]:
y = list(fruit1) # convert fruit1 tuple to list y
y[-1] = 'kiwi'

x = tuple(y) # convert back to tuple
print(x)

('apple', 'banana', 'grapes', 'kiwi')

In [74]:
type(x)

tuple

In [75]:
y = list(fruit1) # convert fruit1 tuple to list y
y[-1] = 'kiwi'

fruit1 = tuple(y) # convert back to tuple
print(fruit1)

('apple', 'banana', 'grapes', 'kiwi')

In [76]:
z = 'orange'
type(z)

str

In [77]:
z1 = ('orange')
type(z1)

str

In [78]:
z2 = ('orange',)  # LOOk at the COMMA
type(z2)

tuple

In [79]:
x = fruit1 + z2  # adding one tuple to another
print(x)

('apple', 'banana', 'grapes', 'kiwi', 'orange')

In [80]:
(x1, x2, x3, x4, x5) = x  # unpacking a tuple

print(x1)
print(x2)
print(x3)
print(x4)
print(x5)

apple
banana
grapes
kiwi
orange

In [81]:
(y1, y2, *y3) = x

print(y1)
print(y2)
print(y3)

apple
banana
['grapes', 'kiwi', 'orange']

In [82]:
type(y1)

str

In [83]:
type(y2)

str

In [84]:
type(y3)

list

In [85]:
(y1, *y2, y3) = x

print(y1)
print(y2)
print(y3)

apple
['banana', 'grapes', 'kiwi']
orange

In [86]:
(*y1, y2, y3) = x

print(y1)
print(y2)
print(y3)

['apple', 'banana', 'grapes']
kiwi
orange

In [87]:
len(x)

5

In [88]:
x.count('kiwi')

1

In [89]:
number_tuple = (80, 81, 82, 85, 82)
number_tuple.count(82)

2

In [90]:
person1 = ('chandra', 'adak', 35)
print(person1)

('chandra', 'adak', 35)

In [92]:
type(person1)

tuple

*   **List []:** ordered, changable

*   **Tuple ():** ordered, unchangable

*   **Set {} :** unordered, unchangable, unindexed

In [93]:
set1 = {1,2,3, 7, 5}
print(set1)

{1, 2, 3, 5, 7}

In [95]:
type(set1)

set

In [96]:
len(set1)

5

In [97]:
for i in set1:
  print(i)

1
2
3
5
7

In [98]:
print(5 in set1)

True

In [99]:
set2 = {'chandra', 35}
print(set2)

{'chandra', 35}